body {
    background-color: var(--light-blue);
}

main {
    padding: 0 var(--grid-gap);
}

header, footer {
    color: var(--blue);
}

input,
select,
textarea {
    border: 1px solid var(--blue);
}

button {
    background-color: var(--blue);
}