body {
    background-color: var(--light-red);
}

main {
    padding: 0 var(--grid-gap);
}

label,
input,
select,
textarea,
header, footer {
    color: var(--red);
}

input,
select,
textarea {
    border: 1px solid var(--red);
}

input,
select {
    margin-bottom: var(--grid-gap);
}

/* label {
    display: inline;
    line-height: var(--input-height);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
} */

button {
    background-color: var(--red);
}