main {
    /* Layout */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-gap: var(--grid-gap); */
    grid-gap: 1px;
    /* padding: 0 var(--grid-gap); */
    margin: 0 auto;
    
    /* Appearance */
    text-align: center;
    text-transform: uppercase;
    /* transition: all 0.35s; */
}

main > div {
    /* Appearance */
    height: 200px;
    width: 100%;
    /* border-radius: 5px; */
    background-size: 80px auto;
    background-position: 50% 35%;
    
    /* Behaviour */
    position: relative;
    cursor: pointer;
    transition: all 0.35s;
}

main > div p {
    font-weight: 600;
    position: absolute;
    padding: 15px 30px;
    line-height: 1.5em;
    font-size: 14pt;
    bottom: 0;
    left: 0;
    right: 0;
}

main > div:nth-of-type(1) {
    background-color: var(--light-red);
    /* background-color: transparent; */
    color: var(--red);
    /* border: 4px solid var(--red); */
    background-image: url('../svg/shield.svg');
}

main > div:nth-of-type(2) {
    background-color: var(--light-blue);
    /* background-color: transparent; */
    color: var(--blue);
    /* border: 4px solid var(--blue); */
    background-image: url('../svg/info.svg');
}

main > div:nth-of-type(3) {
    background-color: var(--light-teal);
    /* background-color: transparent; */
    color: var(--teal);
    /* border: 4px solid var(--teal); */
    background-image: url('../svg/shopping-bag.svg');
}

main > div:nth-of-type(4) {
    background-color: var(--light-green);
    /* background-color: transparent; */
    color: var(--green);
    /* border: 4px solid var(--green); */
    background-image: url('../svg/calendar.svg');
}

main > div:nth-of-type(5) {
    background-color: var(--light-orange);
    /* background-color: transparent; */
    color: var(--orange);
    /* border: 4px solid var(--orange); */
    background-image: url('../svg/help-circle.svg');
}

main > div:nth-of-type(6) {
    background-color: var(--light-purple);
    /* background-color: transparent; */
    color: var(--purple);
    /* border: 4px solid var(--purple); */
    background-image: url('../svg/inbox.svg');
}

main > div:hover {
    box-shadow: 0 3px 6px 0 rgba(100, 100, 100, 0.4),
    0 4px 15px 0 rgba(100, 100, 100, 0.38);
    /* background-color: #fff; */
    /* animation: float .75s ease-in-out infinite; */
    z-index: 99;
}

/* @keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
} */