body {
    background-color: var(--light-green);
}

main {
    /* Layout */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: var(--grid-gap);
    margin: 0 auto;
    padding: 0 var(--grid-gap);
    
    /* Appearance */
    text-align: center;
    text-transform: uppercase;
}

main > div {
    /* Appearance */
    width: 100%;
    border: 1px solid var(--green);
    border-radius: 5px;
    
    /* Behaviour */
    transition: all 0.35s;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    line-height: 2.5em;
}

th, td {
    border-bottom: 1px solid var(--green);
}

tr:first-of-type th,
tr:first-of-type td {
    border-top: 1px solid var(--green);
}

/* tr:nth-last-child(2) th {
    border: 0;
} */

tr:last-of-type td {
    text-align: justify;
}

td {
    text-align: right;
}

.info-box {
    text-align: justify;
    color: var(--green);
    cursor: default;
    padding: var(--grid-gap);
}

header, footer {
    color: var(--green);
}

button {
    background-color: var(--green);
}