body {
    background-color: var(--light-orange);
}

main {
    margin: 0 var(--grid-gap);
    /* padding: var(--grid-gap); */
    height: calc(100vh - 70px*2);
    /* border: 1px solid var(--orange); */
    border-radius: 5px;
    overflow-y: scroll;
}

header, footer {
    color: var(--orange);
}

main p {
    border-radius: var(--grid-gap);
    padding: calc(var(--grid-gap));
    margin-bottom: var(--grid-gap);
    line-height: 1.5em;
    font-size: 14pt;
}

.me {
    border: 1px solid var(--orange);
    color: var(--orange);
    border-bottom-right-radius: 0;
}

.admin {
    border: 1px solid #333;
    color: #333;
    border-bottom-left-radius: 0;
}

button {
    background-color: var(--orange);
}