body {
    background-color: var(--light-blue);
}

main {
    /* Layout */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: var(--grid-gap);
    margin: 0 auto;
    padding: 0 var(--grid-gap);
    
    /* Appearance */
    text-align: center;
    text-transform: uppercase;
}

main > div {
    /* Appearance */
    width: 100%;
    border: 1px solid var(--blue);
    border-radius: 5px;
    
    /* Behaviour */
    cursor: pointer;
    transition: all 0.35s;
}

.info-box {
    text-align: justify;
    color: var(--blue);
    cursor: default;
}

.info-box > .container {
    padding: var(--grid-gap);
    position: relative;
}

.info-box p {
    text-transform: none;
}

.info-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.info-box p:not(:last-of-type) {
    margin-bottom: var(--grid-gap);
}

.read-more {
    line-height: calc(var(--grid-gap)*2);
    padding: 0 var(--grid-gap);
    margin-bottom: var(--grid-gap);
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--light-blue);
    cursor: pointer;
    display: inline-block;
    float: right;
}

header, footer {
    color: var(--blue);
}

input,
select,
textarea {
    border: 1px solid var(--blue);
}

button {
    background-color: var(--blue);
}