body {
    background-color: var(--light-purple);
}

main {
    padding: 0 var(--grid-gap);
}

label,
input,
select,
textarea,
header, footer {
    color: var(--purple);
}

input,
select,
textarea {
    border: 1px solid var(--purple);
}

input,
select {
    margin-bottom: var(--grid-gap);
}

button {
    background-color: var(--purple);
}