@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu');
}

body, main, header,
footer, div, p,
form, input, select,
textarea, button, h1 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    padding: 0;
    margin: 0;
    border: 0;

    appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
}

div, button {
    background-repeat: no-repeat;
}

:root {
    --header-height: 70px;
    --footer-height: 70px;
    --grid-gap: 20px;

    --input-height: 40px;

    --light-red: #ffebee;
    --light-blue: #e3f2fd;
    --light-teal: #e0f2f1;
    --light-green: #e8f5e9;
    --light-orange: #fbe9e7;
    --light-purple: #ede7f6;
    --red: #d32f2f;
    --blue: #2962ff;
    --teal: #00bfa5;
    --green: #00c853;
    --orange: #dd2c00;
    --purple: #6200ea;
}

body {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    background-color: #333;
    color: #fff;
}

header {
    height: var(--header-height);
}

footer {
    height: var(--footer-height);
}

header, footer {
    text-transform: uppercase;
}

header > p {
    height: 100%;
    line-height: var(--header-height);
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
}

header > img {
    margin-right: 10px;
}

footer > p {
    height: 100%;
    line-height: var(--footer-height);
    text-align: center;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

label, input,
select, textarea {
    height: var(--input-height);
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
    display: block;
    background-color: transparent;
}

input,
select, textarea {
    font-size: 14pt;
}

select {
    cursor: pointer;
}

textarea {
    font-family: inherit;
    height: 245px;
    resize: vertical;
    padding: 10px 15px;
    line-height: 1.5em;
}

button[type=submit],
.back-home {
    height: calc(var(--grid-gap)*3);
    width: calc(var(--grid-gap)*3);
    margin: var(--grid-gap);
    position: fixed;
    right: 0;
    bottom: 0;

    border-radius: calc(var(--grid-gap)*1.5);
    box-shadow: 0 3px 6px 0 rgba(100, 100, 100, 0.4),
    0 4px 15px 0 rgba(100, 100, 100, 0.38);
    background-position: 50%;
    background-size: 30px;
    cursor: pointer;
}

button[type=submit] {
    background-image: url('../svg/arrow-right.svg');
    right: 0;
}

h1 {
    font-size: 14pt;
    margin-bottom: var(--grid-gap);
}

.back-home {
    left: 0;
    background-image: url('../svg/home.svg');
}